{
	"presets": "es2015",
	"plugins": [
		"transform-member-expression-literals",
		"transform-merge-sibling-variables",
		"transform-minify-booleans",
		"transform-property-literals",
		"transform-es2015-modules-umd"
	]
}
