{% extends "layouts/layout.njk" %}

{% block content %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  {% include "sections/header.njk" %}
  {% include "sections/main.njk" %}
  {% include "sections/footer.njk" %}
</div>
{% endblock %}
