<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">About</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#about/looks">Looks</a></li>
        <li><a href="#about/features">Features</a></li>
        <li><a href="#about/tools">Tools</a></li>
        <li><a href="#about/examples">Examples</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Documentation</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#documentation/basicexample">Basic Example</a></li>
        <li><a href="#documentation/type">Type</a></li>
        <li><a href="#documentation/init">Init</a></li>
        <li><a href="#documentation/past">Past</a></li>
        <li><a href="#documentation/future">Future</a></li>
        <li><a href="#documentation/mode">Mode</a></li>
        <li><a href="#documentation/orientation">Orientation</a></li>
        <li><a href="#documentation/custombuild">Custom Build</a></li>
        <li><a href="#documentation/anewfeature">A New Feature</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Themes</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Themes</a></li>
      </ul>
    </div>
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Download</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="https://github.com/puranjayjain/md-date-time-picker/releases">Github</a></li>
        <li><a href="#npm">NPM</a></li>
        <li><a href="#bower">Bower</a></li>
      </ul>
    </div>
  </div>
  <div class="mdl-mega-footer__bottom-section">
    <ul class="mdl-mega-footer__link-list">
      <li>
        <a href="index.html" class="mdl-logo">
          <img src="images/logo.svg" alt="logo" />
        </a>
      </li>
      <li>&bullet;</li>
      <li>
        <a href="https://github.com/PuranjayJain/md-date-time-picker" target="_blank">
          <i class="social social-github"></i>
        </a>
      </li>
      <li>&bullet;</li>
      <li>
        <a href="https://www.facebook.com/puru1joy" target="_blank">
          <i class="social social-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/+PuranjayJain" target="_blank">
          <i class="social social-google-plus"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/PuranjayJain" target="_blank">
          <i class="social social-twitter"></i>
        </a>
      </li>
      <li>&bullet;</li>
      <li>
        <a href="https://raw.githubusercontent.com/puranjayjain/md-date-time-picker/master/LICENSE.md" target="_blank">License</a>
      </li>
      <li>
        <a href="https://github.com/puranjayjain/md-date-time-picker/issues" target="_blank">Help</a>
      </li>
    </ul>
  </div>
</footer>
