<header id="mddtpp-header" class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      Material Design - Date &amp; Time Picker</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a id="link-github" href="https://github.com/PuranjayJain/md-date-time-picker" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
        <i class="material-icons">&#xE157;</i> Github
      </a>
    </nav>
  </div>
  <nav class="mdl-layout__tab-bar mdl-js-ripple-effect">
    <a id="link-1" href="#scroll-tab-1" class="mdl-layout__tab is-active">
        About
      </a>
    <a id="link-2" href="#scroll-tab-2" class="mdl-layout__tab">
        Basic Setup
      </a>
    <a id="link-3" href="#scroll-tab-3" class="mdl-layout__tab">
        Themes
      </a>
    <a id="link-4" href="#scroll-tab-4" class="mdl-layout__tab">
        Documentation
      </a>
    <a id="link-5" href="#scroll-tab-5" class="mdl-layout__tab">
        Behind the scenes
      </a>
    <a id="link-6" href="#scroll-tab-6" class="mdl-layout__tab">
        Download
        <i class="material-icons">&#xE2C4;</i>
      </a>
  </nav>
</header>
