<main class="mdl-layout__content">
  {% include "views/about.njk" %}
  {% include "views/basic-setup.njk" %}
  {% include "views/themes.njk" %}
  {% include "views/documentation.njk" %}
  {% include "views/behind-the-scenes.njk" %}
  {% include "views/download.njk" %}
</main>
