<section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
  <div class="page-content mdl-grid mdl-grid--no-spacing">
    <section class="mdl-cell mdl-cell--12-col">
      <dl class="mdl-grid mddtpp-dl__about">
        <dt class="mdl-cell mdl-cell--3-col">Material Design - Date and Time Picker</dt>
        <dd class="mdl-cell mdl-cell--6-col">
          It is an independent component that lets you add the <a class="mddtpp-a" href="https://www.google.com/design/spec/components/pickers.html">Material Design Pickers</a> to your websites. It does rely on just <a class="mddtpp-a" href="http://momentjs.com">Moment Js</a> and aims to optimize for cross-device use
        </dd>
      </dl>
    </section>
    <section id="about/toc" class="mdl-cell mdl-cell--12-col mddtpp-section--white">
      <nav class="mddtpp-nav__toc">
        <a href="#about/toc">Table of contents</a>
        <ul>
          <li><a href="#about/looks">Looks</a></li>
          <li><a href="#about/features">Features</a></li>
          <li><a href="#about/tools">Tools</a></li>
          <li><a href="#about/examples">Examples</a></li>
        </ul>
      </nav>
    </section>
    <section id="about/looks" class="mdl-cell mdl-cell--12-col">
      <h4 class="mddtpp-section__title">Looks</h4>
      <p class="mddtpp-section__note">
        <strong>Note: </strong>These might not be the actual representation of the dialog at all times and so is used for visual representation
      </p>
      <h6 class="mddtpp-section__subtitle">The dialogs look like this when opened.</h6>
      <div class="mdl-grid mddtpp-section__images">
        <figure class="mdl-cell mdl-cell--6-col">
          <img style="margin: 0;max-width: 100%" src="images/components_pickers_date1.png" alt="date-picker" />
          <figcaption>
            <p>Date picker: Light theme, Teal, portrait</p>
          </figcaption>
        </figure>
        <figure class="mdl-cell mdl-cell--6-col">
          <img style="margin: 0;max-width: 100%" src="images/components_pickers_time1.png" alt="time-picker" />
          <figcaption>
            <p>Time picker: Light theme, Teal, portrait</p>
          </figcaption>
        </figure>
      </div>
    </section>
    <section id="about/features" class="mdl-cell mdl-cell--12-col">
      <h4 class="mddtpp-section__title">Features</h4>
      <h6 class="mddtpp-section__subtitle"><b>1.</b>Supports all material design palettes</h6>
      <div class="mdl-grid">
        <div class="mddtpp-div__swatch mdl-cell mdl-cell--3-col mdl-cell--stretch mdl-color--red"></div>
        <div class="mddtpp-div__swatch mdl-cell mdl-cell--3-col mdl-cell--stretch mdl-color--green"></div>
        <div class="mddtpp-div__swatch mdl-cell mdl-cell--3-col mdl-cell--stretch mdl-color--blue"></div>
        <div class="mddtpp-div__swatch mdl-cell mdl-cell--3-col mdl-cell--stretch mdl-color--yellow"></div>
      </div>
      <p class="mddtpp-section__note">
        <strong>Note: </strong>for more information on these colours refer the <a target="_blank" href="https://www.google.com/design/spec/style/color.html#color-color-palette" class="mddtpp-a">official spec</a>
      </p>
      <h6 class="mddtpp-section__subtitle"><b>2.</b>Dark Theme support (yay!)</h6>
      <div class="mdl-grid mddtpp-section__images">
        <figure class="mdl-cell mdl-cell--6-col">
          <img style="margin: 0;max-width: 100%" src="images/components_pickers_date4.png" alt="date-picker" />
          <figcaption>
            <p>Date picker: Dark theme, Teal, portrait</p>
          </figcaption>
        </figure>
        <figure class="mdl-cell mdl-cell--6-col">
          <img style="margin: 0;max-width: 100%" src="images/components_pickers_time3.png" alt="time-picker" />
          <figcaption>
            <p>Time picker: Dark theme, Teal, portrait</p>
          </figcaption>
        </figure>
      </div>
    </section>
    <section id="about/tools" class="mdl-cell mdl-cell--12-col">
      <h4 class="mddtpp-section__title">Tools</h4>
      <h6 class="mddtpp-section__subtitle">This component sits on shoulders of giants and so is powered by</h6>
      <div class="mdl-grid mddtpp-section__images">
        <div class="mddtpp-cell__logo mdl-cell mdl-cell--1-col">
          <a href="https://babeljs.io/" target="_blank">
            <img src="images/es6.png" alt="es6" />
          </a>
        </div>
        <div class="mddtpp-cell__logo mdl-cell mdl-cell--1-col">
          <a href="http://gulpjs.com/" target="_blank">
            <img src="images/gulp.png" alt="gulp" />
          </a>
        </div>
        <div class="mddtpp-cell__logo mdl-cell mdl-cell--1-col">
          <a href="http://sass-lang.com/" target="_blank">
            <img src="images/sass.png" alt="sass" />
          </a>
        </div>
        <div class="mddtpp-cell__logo mdl-cell mdl-cell--1-col">
          <a href="https://www.npmjs.com" target="_blank">
            <img src="images/npm.png" alt="npm" />
          </a>
        </div>
        <div class="mddtpp-cell__logo mdl-cell mdl-cell--1-col">
          <a href="http://bower.io/" target="_blank">
            <img src="images/bower.png" alt="bower" />
          </a>
        </div>
        <div class="mddtpp-cell__logo mdl-cell mdl-cell--1-col">
          <a href="http://momentjs.com" target="_blank">
            <img src="images/momentjs.png" alt="momentjs" />
          </a>
        </div>
        <div class="mdl-color--black mddtpp-cell__logo mdl-cell mdl-cell--1-col">
          <a href="http://www.getmdl.io/" target="_blank">
            <img src="images/mdl.svg" alt="mdl" />
          </a>
        </div>
        <div class="mdl-cell mdl-cell--1-col">
          <a class="mddtpp-a" href="http://mozilla.github.io/nunjucks/" target="_blank">
            <h4>
              Nunjucks
            </h4>
          </a>
        </div>
      </div>
    </section>
    <section id="about/examples" class="mdl-cell mdl-cell--12-col">
      <h4 class="mddtpp-section__title">Examples</h4>
      <h6 class="mddtpp-section__subtitle">Here are some usage examples</h6>
      <p class="mddtpp-p">
        <button id="trigger-1" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
          Toggle Date Dialog
        </button>
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          {{ components.tabBar(tabs = [{href: 'sample-html-panel-1', text: 'html', 'active': true}, {href: 'sample-javascript-panel-1', text: 'javascript'}]) }}
          <div class="mdl-tabs__panel is-active" id="sample-html-panel-1">
            <pre>
              <code class="html language-html">
                &#x3C;link href=&#x27;https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&#x26;amp;lang=en&#x27;
                rel=&#x27;stylesheet&#x27; type=&#x27;text/css&#x27;&#x3E;
                &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;css/mdDateTimePicker.css&#x22;&#x3E;
                &#x3C;script src=&#x22;js/moment.js&#x22;&#x3E;&#x3C;/script&#x3E;
                &#x3C;script src=&#x22;js/mdDateTimePicker.js&#x22;&#x3E;&#x3C;/script&#x3E;
              </code>
              <pre>
              </div>
              <div class="mdl-tabs__panel" id="sample-javascript-panel-1">
                <pre>
                  <code>
                    var dialog = new mdDateTimePicker.default({
                      type: 'date'
                    });
                    var toggleButton = document.getElementById('id-of-button-to-open-it');
                    toggleButton.addEventListener('click', function() {
                      dialog.toggle();
                    });
                  </code>
                </pre>
              </div>
            </div>
          </p>
          <p class="mddtpp-p">
            <button id="trigger-3" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
              Toggle Time Dialog
            </button>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
              {{ components.tabBar(tabs = [{href: 'sample-html-panel-1', text: 'html', 'active': true}, {href: 'sample-javascript-panel-1', text: 'javascript'}]) }}
              <div class="mdl-tabs__panel is-active" id="sample-html-panel-1">
                <pre>
                  <code class="html language-html">
                    &#x3C;link href=&#x27;https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&#x26;amp;lang=en&#x27;
                    rel=&#x27;stylesheet&#x27; type=&#x27;text/css&#x27;&#x3E;
                    &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;css/mdDateTimePicker.css&#x22;&#x3E;
                    &#x3C;script src=&#x22;js/moment.js&#x22;&#x3E;&#x3C;/script&#x3E;
                    &#x3C;script src=&#x22;js/draggabilly.pkgd.min.js&#x22;&#x3E;&#x3C;/script&#x3E;
                    &#x3C;script src=&#x22;js/mdDateTimePicker.js&#x22;&#x3E;&#x3C;/script&#x3E;
                  </code>
                  <pre>
                  </div>
                  <div class="mdl-tabs__panel" id="sample-javascript-panel-1">
                    <pre>
                      <code>
                        var dialog = new mdDateTimePicker.default({
                          type: 'time'
                        });
                        var toggleButton = document.getElementById('id-of-button-to-open-it');
                        toggleButton.addEventListener('click', function() {
                          dialog.toggle();
                        });
                      </code>
                    </pre>
                  </div>
                </div>
              </p>
              <p class="mddtpp-p">
                For an example with umd see <a class="mddtpp-a" href="https://github.com/puranjayjain/md-date-time-picker/issues/16">link</a>
              </p>
            </section>
          </div>
        </section>
