{% import "macros/components.njk" as components %}
<section class="mdl-layout__tab-panel" id="scroll-tab-2">
  <div class="page-content mdl-grid">
    <section class="mdl-cell mdl-cell--12-col">
      <h4 class="mddtp-section__title">Where do i put what?</h4>
      <h6 class="mddtp-section__subtitle"><em><strong>Note: </strong> Put the code as instructed by the tab heading inside the relevant html tags!</em></h6>
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        {{ components.tabBar(tabs = [{href: 'head-panel', text: 'Head', 'active': true}, {href: 'body-panel', text: 'Body'}, {href: 'after-body-panel', text: 'After Body'}]) }}
        <div class="mdl-tabs__panel is-active" id="head-panel">
          <pre>
            <code class="html language-html">
              &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&#x26;amp;lang=en&#x22;&#x3E;
              &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;css/md-date-time-picker.css&#x22;&#x3E;
            </code>
          </pre>
        </div>
        <div class="mdl-tabs__panel" id="body-panel">
          <pre>
            <code class="html language-html">
              &#x3C;script src=&#x22;js/md-date-time-picker.js&#x22;&#x3E;&#x3C;/script&#x3E;
            </code>
          </pre>
        </div>
        <div class="mdl-tabs__panel" id="after-body-panel">
          <pre>
            <code class="html language-html">
              &#x3C;script&#x3E;
                // your custom code here
                // initiate the component here
              &#x3C;/script&#x3E;
            </code>
          </pre>
        </div>
      </div>
    </section>
  </div>
</section>
