<section class="mdl-layout__tab-panel" id="scroll-tab-5">
  <div class="page-content mddtpp-p">
    <h4 class="mddtpp-section__title">&bullet; How the component was made.</h4>
    <h4 class="mddtpp-section__title">&bullet; Why was it made.</h4>
  </div>
</section>
