<section class="mdl-layout__tab-panel" id="scroll-tab-4">
  <div class="page-content">
    <article class="mddtpp-article__docs">
      <section id="documentation/basicexample">
        <h4 class="mddtpp-section__title">Basic Example</h4>
        <p class="mddtpp-section__note">
          <strong>Note: </strong>
          Starting from v1.2.0 the all the files have been renamed from md-date-time-picker.* to mdDateTimePicker.* so make sure to update it
        </p>
        <p class="mddtpp-section__note">
          <strong>Note: </strong>
          Starting from v2.0.0 there is only one build
        </p>
        <p class="mddtpp-p">
          Let us begin by creating a very simple dialog. You can specify properties as key value pairs inside an object. As shown below.
        </p>
        <pre>
          <code>
            var dialog = new mdDateTimePicker({
              type: 'date'
            });
          </code>
        </pre>
      </section>
      <section id="documentation/type">
        <h4 class="mddtpp-section__title">Type <strong>Argument</strong></h4>
        <h6 class="mddtpp-section__subtitle">The type of dialog.</h6>
        <p class="mddtpp-section__note">
          <strong>Note: </strong>
          You can declare as many dialogs in your page as you like provided that you specify the dialog type property for each one of them.
        </p>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Key</th>
              <th>Value <mark>String</mark></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">type</td>
              <td>date</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"></td>
              <td>time</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/init">
        <h4 class="mddtpp-section__title">Init <strong>Argument</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">The currently set value of dialog or the value of dialog to begin with.</h6>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Key</th>
              <th>Value <mark>moment</mark></th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">init</td>
              <td>any moment object</td>
              <td><pre><code>moment()</code></pre></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/past">
        <h4 class="mddtpp-section__title">Past <strong>Argument</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">The past until which the dialog will render dates.</h6>
        <p class="mddtpp-section__note">
          <strong>Note: </strong>
          The value is only relevant in case of the <strong>'date'</strong> dialog.
        </p>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Key</th>
              <th>Value <mark>moment</mark></th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">past</td>
              <td>any moment object</td>
              <td><pre><code>moment().subtract(21, 'years')</code></pre></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/future">
        <h4 class="mddtpp-section__title">Future <strong>Argument</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">The future value till which the dialog will render dates.</h6>
        <p class="mddtpp-section__note">
          <strong>Note: </strong>
          The value is only relevant in case of the <strong>'date'</strong> dialog.
        </p>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Key</th>
              <th>Value <mark>moment</mark></th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">future</td>
              <td>any moment object</td>
              <td>init</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/mode">
        <h4 class="mddtpp-section__title">Mode <strong>Argument</strong> <mark>Optional</mark></h4>
        <p class="mddtpp-section__note">
          <strong>Note: </strong>
          The value is only relevant in case of the <strong>'time'</strong> dialog.
        </p>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Key</th>
              <th>Value <mark>boolean</mark></th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">mode</td>
              <td>true (For 24 hour mode)</td>
              <td>false</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"></td>
              <td>false (For 12 hour mode)</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/orientation">
        <h4 class="mddtpp-section__title">Orientation <strong>Argument</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">Force the orientation of the picker in certain mode at initial render.</h6>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Key</th>
              <th>Value <mark>string</mark></th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">orientation</td>
              <td>LANDSCAPE</td>
              <td>LANDSCAPE</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"></td>
              <td>PORTRAIT</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/trigger1">
        <h4 class="mddtpp-section__title">Trigger <strong>Argument</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">Adds an event trigger to element for that instance of the dialog.</h6>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Key</th>
              <th>Value <mark>element</mark></th>
              <th>Default</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">trigger</td>
              <td>Element selector e.g document.getElementById('someElement')</td>
              <td>No element</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/time">
        <h4 class="mddtpp-section__title">Time <strong>Method</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">You can get or set the current time of the dialog.</h6>
        <p class="mddtpp-section__note">
          <strong>Note: </strong>
          Don't pass any parameters for getting the value and pass a moment to set a new date on the dialog. Also the component is not responsible for checking if the the set date is in the valid range
        </p>
        <h6 class="mddtpp-section__subtitle">Here, is a usage example of get</h6>
        <div class="mddtpp-p">
          <pre><code>var time = dialog.time();</code></pre>
        </div>
        <h6 class="mddtpp-section__subtitle">Here, is a usage example of set</h6>
        <div class="mddtpp-p">
          <pre><code>dialog.time(moment());</code></pre>
        </div>
      </section>
      <section id="documentation/toggle">
        <h4 class="mddtpp-section__title">Toggle <strong>Method</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">Toggles the display state of the dialog between open and close.</h6>
        <h6 class="mddtpp-section__subtitle">Here, is a usage example</h6>
        <div class="mddtpp-p">
          <pre><code>dialog.toggle();</code></pre>
        </div>
      </section>
      <section id="documentation/trigger2">
        <h4 class="mddtpp-section__title">Trigger <strong>Method</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">Adds an event trigger to element for that instance of the dialog.</h6>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Method</th>
              <th>Parameters</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">trigger</td>
              <td>Element selector e.g document.getElementById('someElement')</td>
            </tr>
          </tbody>
        </table>
        <h6 class="mddtpp-section__subtitle">Here, is a usage example</h6>
        <div class="mddtpp-p">
          <pre><code>dialog.trigger(document.getElementById('someElement'));</code></pre>
        </div>
      </section>
      <section id="documentation/onOk">
        <h4 class="mddtpp-section__title">onOk <strong>Event</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">This event is dispatched on the trigger element when the ok button is pressed in the dialog.</h6>
        <h6 class="mddtpp-section__subtitle">Here, is a usage example</h6>
        <div class="mddtpp-p">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="test1">
            <label class="mdl-textfield__label" for="test1">Date will be updated here</label>
          </div>
          <button id="trigger-2" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
            Date
          </button>
        </div>
        <div class="mddtpp-p">
          <pre><code>
            // assuming test1 is an input text element
            document.getElementById('test1').addEventListener('onOk', function() {
              this.value = x.time().toString();
            });
          </code></pre>
        </div>
      </section>
      <section id="documentation/onCancel">
        <h4 class="mddtpp-section__title">onCancel <strong>Event</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">This event is dispatched on the trigger element when the cancel button is pressed in the dialog.</h6>
        <h6 class="mddtpp-section__subtitle">Here, is a usage example</h6>
        <div class="mddtpp-p">
          <pre><code>
            // assuming test1 is an input text element
            document.getElementById('test1').addEventListener('onCancel', function() {
              this.value = x.time().toString();
            });
          </code></pre>
        </div>
      </section>
      <section id="documentation/custombuild">
        <h4 class="mddtpp-section__title">Custom Build <strong>Other</strong> <mark>Optional</mark></h4>
        <h6 class="mddtpp-section__subtitle">You can tweak the entire component as and where you like. To do so, </h6>
        <ol>
          <li>
            <h6 class="mddtpp-section__subtitle">Install the relevant packages in the root of the repo using: </h6>
            <pre><code>npm install</code></pre>
          </li>
          <li>
            <h6 class="mddtpp-section__subtitle">After successfully installing the above components, begin editing the files you want after initiating this command below.</h6>
            <pre><code>gulp default</code></pre>
          </li>
          <li>
            <p class="mddtpp-section__note">
              <strong>Note: </strong>
              From v1.0.0 you can also build all the themes at dist/css/themes directory using:
              <pre><code>gulp generate-themes</code></pre>
            </p>
          </li>
        </ol>
        <h6 class="mddtpp-section__subtitle">Let us help you by telling you about a few files and their usage</h6>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">File</th>
              <th>Usage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">mdDateTimePicker.js</td>
              <td>Contains all of the component in es6</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">component.scss</td>
              <td>Contains the styling for the entire component</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">media-portrait.scss</td>
              <td>The overrides for portrait mode of the component</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">_global.scss</td>
              <td>Contains the basic theme and pallette settings</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/ie">
        <h4 class="mddtpp-section__title">Supporting Internet Explorer <strong>Polyfills</strong></h4>
        <h6 class="mddtpp-section__subtitle">Supporting internet explorer versions 8 - 10 Requires the use of polyfills</h6>
        <p class="mddtpp-section__note">
          <strong>Note: </strong>
          You can find a list of polyfills here at <a class="mddtpp-a" href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills">Modernizr WIki</a>
        </p>
        <table class="mdl-data-table mdl-js-data-table mddtpp-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">IE versions (where required)</th>
              <th class="mdl-data-table__cell--non-numeric">List of polyfills to use</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>8 - 10</td>
              <td class="mdl-data-table__cell--non-numeric">classList</td>
            </tr>
            <tr>
              <td>8 - 11</td>
              <td class="mdl-data-table__cell--non-numeric"><a class="mddtpp-a" href="https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent#Polyfill">CustomEvent</a></td>
            </tr>
            <tr>
              <td>8 - 11</td>
              <td class="mdl-data-table__cell--non-numeric"><a class="mddtpp-a" href="https://gist.github.com/hsablonniere/2581101#file-index-js">scrollIntoViewIfNeeded</a></td>
            </tr>
            <tr>
              <td>8</td>
              <td class="mdl-data-table__cell--non-numeric"><a class="mddtpp-a" href="https://gist.github.com/joshrhoades/8874249#file-textcontentpolyfill-js">Textcontent</a></td>
            </tr>
            <tr>
              <td>8</td>
              <td class="mdl-data-table__cell--non-numeric"><a class="mddtpp-a" href="https://gist.github.com/jonathantneal/3748027#file-eventlistener-polyfill-js">EventListeners</a></td>
            </tr>
          </tbody>
        </table>
      </section>
      <section id="documentation/anewfeature">
        <h4 class="mddtpp-section__title">A New Feature <strong>Other</strong></h4>
        <h6 class="mddtpp-section__subtitle">Feel free to open an issue on <a class="mddtpp-a" href="https://github.com/PuranjayJain/md-date-time-picker">github</a>.</h6>
      </section>
    </article>
    <section id="documentation/toc" class="mddtpp-toc mddtpp-toc--fixed mddtpp-section--white">
      <nav class="mddtpp-nav__toc">
        <a href="#">Argument</a>
        <ul>
          <li><a href="#documentation/basicexample">Basic Example</a></li>
          <li><a href="#documentation/type">Type</a></li>
          <li><a href="#documentation/init">Init</a></li>
          <li><a href="#documentation/past">Past</a></li>
          <li><a href="#documentation/future">Future</a></li>
          <li><a href="#documentation/mode">Mode</a></li>
          <li><a href="#documentation/orientation">Orientation</a></li>
          <li><a href="#documentation/trigger1">Trigger</a></li>
        </ul>
      </nav>
      <nav class="mddtpp-nav__toc">
        <a href="#documentation/time">Method</a>
        <ul>
          <li><a href="#documentation/time">Time</a></li>
          <li><a href="#documentation/toggle">Toggle</a></li>
          <li><a href="#documentation/trigger2">Trigger</a></li>
        </ul>
      </nav>
      <nav class="mddtpp-nav__toc">
        <a href="#documentation/onOk">Event</a>
        <ul>
          <li><a href="#documentation/onOk">onOk</a></li>
          <li><a href="#documentation/onCancel">onCancel</a></li>
        </ul>
      </nav>
      <nav class="mddtpp-nav__toc">
        <a href="#documentation/custombuild">Build</a>
        <ul>
          <li><a href="#documentation/custombuild">Custom Build</a></li>
          <li><a href="#documentation/anewfeature">A New Feature</a></li>
        </ul>
      </nav>
      <nav class="mddtpp-nav__toc">
        <a href="#documentation/ie">Supporting Internet Explorer</a>
        <ul>
          <li><a href="#documentation/ie">For IE 8 - 10</a></li>
        </ul>
      </nav>
    </section>
  </div>
</section>
