<section class="mdl-layout__tab-panel" id="scroll-tab-6">
  <p class="mddtpp-section__note">
    <strong>Note: </strong>
    Starting from v1.0.0 the dist/css folder contains themes directory also with all themes pre-generated
  </p>
  <p class="mddtpp-section__note">
    <strong>Note: </strong>
    Starting from v1.2.0 the js files have been seperated into two builds, one for usage in global or browser window and one in UMD folder for usage with universal modules definition (amd, umd, etc.).
  </p>
  <p class="mddtpp-section__note">
    <strong>Note: </strong>
    Starting from v2.0.0 there is only one build
  </p>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    {{ components.tabBar(tabs = [{href: 'github', text: 'github', 'active': true}, {href: 'npm', text: 'npm'}, {href: 'bower', text: 'bower'}]) }}
    <div class="mdl-tabs__panel is-active" id="github">
      <h6 class="mddtpp-section__subtitle">You can download the latest release on <a class="mddtpp-a" href="https://github.com/puranjayjain/md-date-time-picker/releases">github</a></h6>
    </div>
    <div class="mdl-tabs__panel" id="npm">
      <pre>
        <code>
          npm install md-date-time-picker --save
        </code>
      </pre>
    </div>
    <div class="mdl-tabs__panel" id="bower">
      <pre>
        <code>
          bower install md-date-time-picker --save
        </code>
      </pre>
    </div>
  </div>
</section>
