{% set themeLink = "https://github.com/puranjayjain/md-date-time-picker/blob/master/dist/css/themes/" %}
{% set themeSheet = ['red','pink','purple','deep-purple','indigo','blue','light-blue','cyan','green','light-green','lime','yellow','amber','orange','deep-orange','brown','grey','blue-grey','teal'] %}
{% set mode = "light/" %}
<section class="mdl-layout__tab-panel" id="scroll-tab-3">
  <div class="page-content mddtpp-p">
    <h4 class="mddtpp-section__title">Theming</h4>
    <h6 class="mddtpp-section__subtitle">Download the prebuilt and latest version of the themes from here</h6>
    <p class="mddtpp-section__note">
      <strong>Note: </strong>
      Since, themes override the default stylesheets, so in order to use a theme just replace your previously used css and min.css files with these files.
    </p>
    <h4 class="mddtpp-section__title">All themes in light</h4>
    <h6 class="mddtpp-section__subtitle">Production version (md-date-time-picker.css)</h6>
    <div class="mddtpp-p">
      {% for theme in themeSheet %}
      {% set currentLink = themeLink + mode + theme + "/md-date-time-picker.css" %}
      <a id="mddtpp-themeProd-{{ mode }}{{ theme }}" class="mddtpp-a__patch mdl-color--{{ theme }}-500" href="{{ currentLink }}" download></a>
      <div class="mdl-tooltip" for="mddtpp-themeProd-{{ mode }}{{ theme }}">
        {{ theme }}
      </div>
      {% endfor %}
    </div>
    <h6 class="mddtpp-section__subtitle">Release version (md-date-time-picker.min.css)</h6>
    <div class="mddtpp-p">
      {% for theme in themeSheet %}
      {% set currentLink = themeLink + mode + theme + "/md-date-time-picker.min.css" %}
      <a id="mddtpp-themeRel-{{ mode }}{{ theme }}" class="mddtpp-a__patch mdl-color--{{ theme }}-500" href="{{ currentLink }}" download></a>
      <div class="mdl-tooltip" for="mddtpp-themeRel-{{ mode }}{{ theme }}">
        {{ theme }}
      </div>
      {% endfor %}
    </div>
    {% set mode = "dark/" %}
    <h4 class="mddtpp-section__title">All themes in dark</h4>
    <h6 class="mddtpp-section__subtitle">Production version (md-date-time-picker.css)</h6>
    <div class="mddtpp-p">
      {% for theme in themeSheet %}
      {% set currentLink = themeLink + mode + theme + "/md-date-time-picker.css" %}
      <a id="mddtpp-themeProd-{{ mode }}{{ theme }}" class="mddtpp-a__patch mdl-color--{{ theme }}-500" href="{{ currentLink }}" download></a>
      <div class="mdl-tooltip" for="mddtpp-themeProd-{{ mode }}{{ theme }}">
        {{ theme }}
      </div>
      {% endfor %}
    </div>
    <h6 class="mddtpp-section__subtitle">Release version (md-date-time-picker.min.css)</h6>
    <div class="mddtpp-p">
      {% for theme in themeSheet %}
      {% set currentLink = themeLink + mode + theme + "/md-date-time-picker.min.css" %}
      <a id="mddtpp-themeRel-{{ mode }}{{ theme }}" class="mddtpp-a__patch mdl-color--{{ theme }}-500" href="{{ currentLink }}" download></a>
      <div class="mdl-tooltip" for="mddtpp-themeRel-{{ mode }}{{ theme }}">
        {{ theme }}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
