<!DOCTYPE html>
<html lang="en">

<head>
  {% include "sections/head.njk" %}
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-72131360-2', 'auto');
  ga('require', 'link-github');
  ga('require', 'link-1');
  ga('require', 'link-2');
  ga('require', 'link-3');
  ga('require', 'link-4');
  ga('require', 'link-5');
  ga('require', 'link-6');
  ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>

<body>
  {% block content %}
  {% endblock %}
  <script src="js/scripts.js"></script>
</body>

</html>
