<!DOCTYPE html>
<html lang="en">

<head>
  {% include "sections/head.njk" %}
  <script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-72131360-2', 'auto');
  ga('send', 'pageview');
  </script>
  <script defer async src='https://www.google-analytics.com/analytics.js'></script>
</head>

<body>
  {% block content %}
  {% endblock %}
  <script src="js/scripts.js"></script>
</body>

</html>
