/* ==========  Color Palettes  ========== */
/* colors.scss */
/* Typography */
/* Shadows */
/* Animations */
/* Dialog */
html {
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important; }

.md-button {
  height: 36px;
  min-width: 64px;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  display: inline-block;
  padding: 0 8px;
  margin-right: 8px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: #009688;
  -webkit-appearance: button;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

.md-button:hover,
.md-button:focus {
  background-color: #e0e0e0; }

.md-button:active {
  background-color: #bdbdbd; }

.md-button:disabled {
  color: rgba(0, 0, 0, 0.26);
  cursor: not-allowed; }

.md-picker {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  min-width: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  display: table;
  border-radius: 3px;
  overflow: hidden; }
  .md-picker .md-picker__header {
    width: 80px;
    background-color: #009688;
    padding: 24px 24px 20px; }
    .md-picker .md-picker__header .md-picker__title,
    .md-picker .md-picker__header .md-picker__subtitle {
      margin: 0 0 8px;
      cursor: pointer; }
  .md-picker .md-picker__body {
    position: relative;
    background-color: #fff; }
  .md-picker .md-picker__header,
  .md-picker .md-picker__body {
    display: table-cell;
    vertical-align: top;
    height: 100%; }

.md-picker-date .md-picker__left {
  background: url("../images/ic_keyboard_arrow_left_black_24px.svg");
  left: 4px; }

.md-picker-date .md-picker__right {
  background: url("../images/ic_keyboard_arrow_right_black_24px.svg");
  right: 4px; }

.md-picker-date .md-picker__left,
.md-picker-date .md-picker__right {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  height: 48px;
  width: 48px;
  min-width: 48px;
  top: 4px;
  border-radius: 50%; }

.md-picker-date .md-picker__left:hover,
.md-picker-date .md-picker__right:hover,
.md-picker-date .md-picker__left:focus,
.md-picker-date .md-picker__right:focus {
  background-color: #e0e0e0; }

.md-picker-date .md-picker__left:active,
.md-picker-date .md-picker__right:active {
  background-color: #bdbdbd; }

.md-picker-date .md-picker__left:disabled {
  background: url("../images/ic_keyboard_arrow_left_black_disabled_24px.svg"); }

.md-picker-date .md-picker__right:disabled {
  background: url("../images/ic_keyboard_arrow_right_black_disabled_24px.svg"); }

.md-picker-date .md-picker__left:disabled,
.md-picker-date .md-picker__right:disabled {
  background-repeat: no-repeat;
  background-position: center; }

.md-picker-date .md-picker__header .md-picker__title {
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900; }
  .md-picker-date .md-picker__header .md-picker__title span {
    display: block; }

.md-picker-date .md-picker__header .md-picker__subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px; }

.md-picker-date .md-picker__header--invert .md-picker__title {
  color: rgba(255, 255, 255, 0.7); }

.md-picker-date .md-picker__header--invert .md-picker__subtitle {
  color: white; }

.md-picker-date .md-picker__body .md-picker__viewHolder {
  width: 314px;
  overflow: hidden; }
  .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__views {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 2000px; }
  .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__view {
    display: inline-block;
    width: 314px;
    text-align: center;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    transition: 0.3s cubic-bezier(0.42, 0, 0.58, 1); }
    .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__view .md-picker__month {
      display: inline-block;
      padding: 18px;
      font-size: 13px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer; }
  .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__view--left {
    -webkit-transform: translate3d(-200%, 0, 0);
            transform: translate3d(-200%, 0, 0); }
  .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__view--right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__view--pause {
    transition: none; }
  .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__grid {
    padding: 8px 14px 0; }
    .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__grid span {
      display: inline-block;
      font-size: 13px;
      font-weight: 600;
      margin: 2px;
      color: rgba(0, 0, 0, 0.87);
      border-radius: 50%;
      width: 36px;
      height: 36px;
      line-height: 36px;
      vertical-align: middle; }
    .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__grid .md-picker__cell--today {
      color: #009688; }
    .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__grid .md-picker__cell--selected {
      background-color: #009688;
      color: #fff; }
    .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__grid .md-picker__cell--disabled {
      color: rgba(0, 0, 0, 0.26);
      cursor: not-allowed; }
    .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__grid .md-picker__tr {
      padding: 2px 0; }
      .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__grid .md-picker__tr .md-picker__cell {
        pointer-events: all;
        cursor: pointer; }
    .md-picker-date .md-picker__body .md-picker__viewHolder .md-picker__grid .md-picker__th span {
      color: rgba(0, 0, 0, 0.54); }

.md-picker-date .md-picker__body .md-picker__years {
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 52px);
  text-align: center;
  overflow: auto; }
  .md-picker-date .md-picker__body .md-picker__years li {
    font-size: 16px;
    padding: 8px 0;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer; }
  .md-picker-date .md-picker__body .md-picker__years .md-picker__li--current {
    font-size: 21px;
    color: #009688; }

.md-picker-date .md-picker__body .md-picker__years--invisible {
  display: none; }

.md-picker-date .md-picker__body .md-picker__action {
  margin-top: 24px;
  padding: 8px 0;
  text-align: right; }

@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .md-picker {
    display: block; }
    .md-picker .md-picker__header .md-picker__title,
    .md-picker .md-picker__header .md-picker__subtitle {
      margin: 0; }
    .md-picker .md-picker__header .md-picker__title span {
      display: inline-block; }
    .md-picker .md-picker__header,
    .md-picker .md-picker__body {
      display: block;
      height: 100%;
      width: 100%; } }

@media screen and (max-width: 415px) {
  .md-picker {
    display: block; }
    .md-picker .md-picker__header .md-picker__title,
    .md-picker .md-picker__header .md-picker__subtitle {
      margin: 0; }
    .md-picker .md-picker__header .md-picker__title span {
      display: inline-block; }
    .md-picker .md-picker__header,
    .md-picker .md-picker__body {
      display: block;
      height: 100%;
      width: 100%; } }

.md-picker--portrait {
  display: block; }
  .md-picker--portrait .md-picker__header .md-picker__title,
  .md-picker--portrait .md-picker__header .md-picker__subtitle {
    margin: 0; }
  .md-picker--portrait .md-picker__header .md-picker__title span {
    display: inline-block; }
  .md-picker--portrait .md-picker__header,
  .md-picker--portrait .md-picker__body {
    display: block;
    height: 100%;
    width: 100%; }

.md-picker--inactive {
  display: none; }

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn; }

@-webkit-keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  -webkit-animation-name: zoomOut;
          animation-name: zoomOut; }

.animated {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
