/* ==========  Color Palettes  ========== */
/* colors.scss */
body {
  background-color: #fafafa; }

main {
  overflow: visible !important; }

pre {
  margin: 0;
  padding: 0; }

.mdl-layout__header {
  background-repeat: no-repeat;
  background-position: 25px 18px;
  background-image: url("../images/logo.svg"); }

.material-icons {
  vertical-align: middle;
  margin: -2px 4px 0; }

.social {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../images/sprite.svg"); }
  .social:hover {
    background-image: url("../images/sprite-color.svg"); }
  .social.social-facebook {
    width: 20px;
    height: 20px;
    background-position: 0 0; }
  .social.social-google-plus {
    width: 20px;
    height: 20px;
    background-position: -36px 0; }
  .social.social-github {
    width: 20px;
    height: 20px;
    background-position: -72px 0; }
  .social.social-twitter {
    width: 20px;
    height: 20px;
    background-position: -108px 0; }

.mdl-logo img {
  height: 20px;
  width: 20px; }

.mdl-mega-footer__link-list a:hover {
  color: #fff; }

.mddtpp-a {
  color: #7c4dff; }

.mddtpp-p {
  padding: 20px 40px;
  margin: 0; }

.mddtpp-a__patch {
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
  height: 16px;
  width: 64px; }

.mddtpp-table {
  margin-left: 31px; }

.mddtpp-section--grow {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.mddtpp-section--white {
  background-color: #fff; }

.mddtpp-section__subtitle {
  margin-top: 0; }

.mddtpp-section__note {
  margin: 0 auto;
  background-color: #FFF9C4;
  padding: 16px;
  margin: 0 31px 16px 31px;
  border-radius: 2px;
  color: #212121; }

.mddtpp-section__title,
.mddtpp-section__subtitle {
  padding-left: 31px; }

.mddtpp-div__swatch {
  height: 16px; }

.mddtpp-nav__toc {
  margin: 32px; }

.mddtpp-nav__toc ul {
  list-style-type: none;
  border-left: solid 3px #7c4dff;
  padding-left: 20px;
  line-height: 28px; }

.mddtpp-nav__toc a {
  font-size: 16px;
  color: #7c4dff;
  font-weight: 400;
  text-decoration: none; }

.mddtpp-dl__about {
  padding: 5%; }
  .mddtpp-dl__about dt {
    font-weight: 700; }
  .mddtpp-dl__about figcaption {
    padding: 8px; }

.mddtpp-dl__about,
.mddtpp-section__images {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.mddtpp-cell__logo {
  vertical-align: middle;
  text-align: center;
  padding: 8px; }

.mddtpp-cell__logo img {
  width: 64px; }

/* ==========  Color Palettes  ========== */
/* colors.scss */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #311b92;
  color: #ffe57f; }

.hljs-link,
.hljs-emphasis,
.hljs-attribute,
.hljs-attribute,
.hljs-addition {
  color: #7c4dff; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong,
.hljs-string,
.hljs-deletion {
  color: #ff6f00; }

.hljs-strong {
  font-weight: bold; }

.hljs-quote,
.hljs-comment {
  color: #998;
  font-style: italic; }

.hljs-section,
.hljs-title {
  color: #900; }

.hljs-class .hljs-title,
.hljs-type {
  color: #458; }

.hljs-variable,
.hljs-template-variable {
  color: #336699; }

.hljs-bullet {
  color: #997700; }

.hljs-meta {
  color: #3344bb; }

.hljs-code,
.hljs-number,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag {
  color: #099; }

.hljs-regexp {
  background-color: #fff0ff;
  color: #880088; }

.hljs-symbol {
  color: #990073; }

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #d1c4e9; }
  .hljs-tag .hljs-attr,
  .hljs-name .hljs-attr,
  .hljs-selector-id .hljs-attr,
  .hljs-selector-class .hljs-attr {
    color: #ffc107; }

/* Meta color: hue: 200 */
.hljs-meta {
  color: #1f7199; }

.hljs-meta-string {
  color: #4d99bf; }

/* Misc effects */
.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
