/* ==========  Color Palettes  ========== */
/* colors.scss */
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px; }

::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px; }

::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07); }

.tbt-scrollbar-dark::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.2); }

.tbt-scrollbar-dark::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); }

.tbt-scrollbar-dark::-webkit-scrollbar-track:active {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.25), inset -1px 0 0 rgba(255, 255, 255, 0.15); }

.tbt-scrollbar-dark::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(255, 255, 255, 0.15); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35); }

.tbt-scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.1); }

.tbt-scrollbar-dark::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.15), inset -1px 0 0 rgba(255, 255, 255, 0.1); }

.tbt-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.37); }

.tbt-scrollbar-dark::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.5); }

.tbt-scrollbar-borderless::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px; }

.tbt-scrollbar-borderless::-webkit-scrollbar-track:horizontal {
  border-width: 6px 0 1px; }

.tbt-scrollbar-borderless::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.035);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07); }

.tbt-scrollbar-borderless.tbt-scrollbar-dark::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.07);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.25), inset -1px -1px 0 rgba(255, 255, 255, 0.15); }

.tbt-scrollbar-borderless::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px; }

.tbt-scrollbar-borderless::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 0 1px; }

::-webkit-scrollbar-corner {
  background: transparent; }

body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 0 0 0 3px;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07); }

body::-webkit-scrollbar-track-piece:horizontal {
  border-width: 3px 0 0;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07); }

body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px; }

body::-webkit-scrollbar-thumb:horizontal {
  border-width: 5px 1px 1px; }

body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14); }

body {
  background-color: #fafafa; }

main {
  overflow: visible !important; }

pre {
  margin: 0;
  padding: 0; }

.mdl-layout__header {
  background-repeat: no-repeat;
  background-position: 25px 18px;
  background-image: url("../images/logo.svg"); }

.material-icons {
  vertical-align: middle;
  margin: -2px 4px 0; }

.social {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../images/sprite.svg"); }
  .social:hover {
    background-image: url("../images/sprite-color.svg"); }
  .social.social-facebook {
    width: 20px;
    height: 20px;
    background-position: 0 0; }
  .social.social-google-plus {
    width: 20px;
    height: 20px;
    background-position: -36px 0; }
  .social.social-github {
    width: 20px;
    height: 20px;
    background-position: -72px 0; }
  .social.social-twitter {
    width: 20px;
    height: 20px;
    background-position: -108px 0; }

.mdl-logo img {
  height: 20px;
  width: 20px; }

.mdl-mega-footer {
  z-index: 2; }

.mdl-mega-footer__link-list a:hover {
  color: #fff; }

.mddtpp-a {
  color: #7c4dff; }

.mddtpp-p {
  padding: 20px 40px;
  margin: 0; }

.mddtpp-a__patch {
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
  height: 16px;
  width: 64px; }

.mddtpp-table {
  margin-left: 31px; }

.mddtpp-section--grow {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.mddtpp-section--white {
  background-color: #fff; }

.mddtpp-section__subtitle {
  margin-top: 0; }

.mddtpp-section__note {
  margin: 0 auto;
  background-color: #FFF9C4;
  padding: 16px;
  margin: 0 31px 16px 31px;
  border-radius: 2px;
  color: #212121; }

.mddtpp-section__title,
.mddtpp-section__subtitle {
  padding-left: 31px; }

.mddtpp-div__swatch {
  height: 16px; }

.mddtpp-article__docs {
  width: calc(100% - 224px); }

.mddtpp-toc {
  width: 225px; }
  .mddtpp-toc--fixed {
    position: fixed;
    right: 16px;
    top: 112px;
    height: 100%;
    overflow-y: auto; }

.mddtpp-nav__toc {
  margin: 16px 32px; }

.mddtpp-nav__toc ul {
  list-style-type: none;
  border-left: solid 3px #7c4dff;
  padding-left: 20px;
  line-height: 28px; }

.mddtpp-nav__toc a {
  font-size: 16px;
  color: #7c4dff;
  font-weight: 400;
  text-decoration: none; }

.mddtpp-dl__about {
  padding: 5%; }
  .mddtpp-dl__about dt {
    font-weight: 700; }
  .mddtpp-dl__about figcaption {
    padding: 8px; }

.mddtpp-dl__about,
.mddtpp-section__images {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.mddtpp-cell__logo {
  vertical-align: middle;
  text-align: center;
  padding: 8px; }

.mddtpp-cell__logo img {
  width: 64px; }

/* ==========  Color Palettes  ========== */
/* colors.scss */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #311b92;
  color: #ffe57f; }

.hljs-link,
.hljs-emphasis,
.hljs-attribute,
.hljs-attribute,
.hljs-addition {
  color: #7c4dff; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong,
.hljs-string,
.hljs-deletion {
  color: #ff6f00; }

.hljs-strong {
  font-weight: bold; }

.hljs-quote,
.hljs-comment {
  color: #998;
  font-style: italic; }

.hljs-section,
.hljs-title {
  color: #900; }

.hljs-class .hljs-title,
.hljs-type {
  color: #458; }

.hljs-variable,
.hljs-template-variable {
  color: #336699; }

.hljs-bullet {
  color: #997700; }

.hljs-meta {
  color: #3344bb; }

.hljs-code,
.hljs-number,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag {
  color: #099; }

.hljs-regexp {
  background-color: #fff0ff;
  color: #880088; }

.hljs-symbol {
  color: #990073; }

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #d1c4e9; }
  .hljs-tag .hljs-attr,
  .hljs-name .hljs-attr,
  .hljs-selector-id .hljs-attr,
  .hljs-selector-class .hljs-attr {
    color: #ffc107; }

/* Meta color: hue: 200 */
.hljs-meta {
  color: #1f7199; }

.hljs-meta-string {
  color: #4d99bf; }

/* Misc effects */
.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
