@import "dependencies/variables";
@import "dependencies/mixins";
@import "dependencies/fonts";
// Make html take up the entire screen
// Then set touch-action to avoid touch delay on mobile IE
html {
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  // background-color: $palette-primary-A100;
  font-family: $regular !important;
}
//common components
.md-button {
  height: 36px; //TODO touch target 48px
  min-width: 64px;
  border: none;
  background-color: rgba(0,0,0,0);
  border-radius: 3px;
  display: inline-block;
  padding: 0 8px;
  margin-right: 8px;
  font-family: $regular;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: $md-button-color;
  // Correct inability to style clickable `input` types in iOS.
  -webkit-appearance: button;
  // Address `overflow` set to `hidden` in IE 8/9/10/11.
  overflow: visible;
  // fix of reset
  // More info: http://goo.gl/IPwKi
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.md-button:hover,
.md-button:focus {
  background-color: $md-button-color--focus;
}
.md-button:active {
  background-color: $md-button-color--active;
}
.md-button:disabled {
  color: $md-button-color--disabled;
  cursor: not-allowed;
}
//date or time component dialog
.md-picker {
  @include shadow-8dp();
  min-width: 5 * 56px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  transform-origin: 0 0;
  display: table;
  border-radius: 3px;
  overflow: hidden;
  .md-picker__header {
    width: 100px;
    background-color: $picker-header-color;
    padding: 24px 24px 20px;
    .md-picker__title {
      color: $color-secondary-text;
      font-family: $regular;
      font-size: 28px;
      font-weight: 700;
    }
    .md-picker__subtitle {
      font-weight: 400;
      font-size: 16px; //TODO 17px on mobile
      line-height: 20px;
    }
    .md-picker__title,
    .md-picker__subtitle {
      color: $color-secondary-text;
      margin: 0;
      cursor: pointer;
    }
    .md-picker__color--active {
      color: $color-primary-text;
    }
  }
  .md-picker__body {
    position: relative;
    background-color: $picker-body-color;

    .md-picker__action {
      margin-top: 24px;
      padding: 8px 0;
      text-align: right;
    }
  }
  .md-picker__header,
  .md-picker__body {
    display: table-cell;
    vertical-align: top;
    height: 100%;
  }
}
//date component dialog
.md-picker-date {
  .md-picker__left {
    background: url($picker-button-left);
    left: 4px;
  }
  .md-picker__right {
    background: url($picker-button-right);
    right: 4px;
  }
  .md-picker__left,
  .md-picker__right {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 48px;
    width: 48px;
    min-width: 48px;
    top: 4px;
    border-radius: 50%;
  }
  .md-picker__left:hover,
  .md-picker__right:hover,
  .md-picker__left:focus,
  .md-picker__right:focus {
    background-color: $md-button-color--focus;
  }
  .md-picker__left:active,
  .md-picker__right:active {
    background-color: $md-button-color--active;
  }
  .md-picker__left:disabled {
    background: url($picker-button-left-disabled);
  }
  .md-picker__right:disabled {
    background: url($picker-button-right-disabled);
  }
  .md-picker__left:disabled,
  .md-picker__right:disabled {
    background-repeat: no-repeat;
    background-position: center;
  }
  .md-picker__body {
    .md-picker__viewHolder {
      width: 314px;
      overflow: hidden;
      .md-picker__views {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0; //fix weird element gap
        width: 2000px;
      }
      .md-picker__view {
        display: inline-block;
        width: 314px;
        text-align: center;
        transform: translate3d(-100%,0,0);
        transition: 0.3s cubic-bezier(.42, 0, .58, 1);
        .md-picker__month {
          display: inline-block;
          padding: 18px;
          font-size: 13px;
          font-weight: 600;
          color: $picker-primary-text-theme-color;
          cursor: pointer;
        }
      }
      .md-picker__view--left {
        transform: translate3d(-200%,0,0);
      }
      .md-picker__view--right {
        transform: translate3d(0,0,0);
      }
      .md-picker__view--pause {
        transition: none;
      }
      .md-picker__grid {
        padding: 8px 14px 0;
        span {
          display: inline-block;
          font-size: 13px;
          margin: 2px;
          color: $picker-primary-text-theme-color;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          line-height: 36px;
          vertical-align: middle;
        }
        .md-picker__cell--today {
          color: $md-button-color;
          font-weight: 600;
        }
        .md-picker__cell--selected {
          background-color: $md-button-color;
          color: $picker-body-color;
        }
        .md-picker__cell--disabled {
          color: $md-button-color--disabled;
          cursor: not-allowed;
        }
        .md-picker__tr {
          padding: 2px 0;
          .md-picker__cell {
            pointer-events: all;
            cursor: pointer;
          }
          .md-picker__cell:hover {
            @extend .md-picker__selected;
          }
        }
        .md-picker__th {
          span {
            color: $picker-secondary-text-theme-color;
          }
        }
      }
    }
    .md-picker__years {
      position: absolute;
      left: 0;
      top: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: calc(100% - 52px);
      text-align: center;
      overflow: auto;
      li {
        font-size: 16px; //TODO make this 17 px on mobile
        padding: 8px 0;
        color: $picker-primary-text-theme-color;
        cursor: pointer;
      }
      //current year
      .md-picker__li--current {
        font-size: 21px;
        color: $md-button-color;
      }
    }
    .md-picker__years--invisible {
      display: none;
    }
  }
}
//time component dialog
.md-picker-time {
  .md-picker__header {
    vertical-align: middle;
    width: 125px;

    .md-picker__title {
      text-align: right;
      // NOTE font size to remove space between inline block hack by https://css-tricks.com/fighting-the-space-between-inline-block-elements/
      font-size: 0;
      span {
        font-size: 45px;
        font-weight: 400;
        line-height: 48px;
        margin: 0 2px;
      }
    }
    .md-picker__subtitle {
      margin-top: 8px;
      text-align: center;

      div {
        margin-top: 2px;
      }
    }
  }
  .md-picker__body {
    .md-picker__circularHolder {
      position: relative;
      width: 250px;
      height: 250px;
      margin: 20px;
      border-radius: 50%;
      background-color: $picker-circle-color;

      .md-picker__circularView {
        position: absolute;
        width: 100%;
        height: 100%;
        .md-picker__cell {
          position: absolute;
          width: 50%;
          top: calc(50% - 18px);
          left: 50%;
          text-align: right;
          transform-origin: left center;
          span {
            display: inline-block;
            cursor: pointer;
            font-size: 13px;
            color: $picker-primary-text-theme-color;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            margin-right: 8px;
          }
        }
        .md-picker__cell--selected {
          span {
            color: $picker-body-color;
          }
        }
      }

      .md-picker__selection {
        position: absolute;
        left: 50%;
        top: calc(50% - 18px);
        width: 50%;
        font-size: 0;
        transform-origin: left center;

        span {
          display: inline-block;
          background-color: $picker-line-color;
          height: 2px;
          vertical-align: middle;
        }

        .md-picker__dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }

        .md-picker__line {
          width: calc(100% - 52px);
        }

        .md-picker__circle {
          border-radius: 50%;
          height: 36px;
          width: 36px;
        }
      }

      //60 minute deg rotations
      @for $i from 1 through 59 {
        .md-picker__cell--rotate-#{$i} {
          transform: rotate(#{(360 / 60) * $i}deg);

          span {
            transform: rotate(-#{(360 / 60) * $i}deg);
          }
        }
      }
    }
  }
}
// media queries
// As the responsive approach is desktop first and on mobile landscape first, we handle the rest here
@media screen and (max-device-width: 425px) and (orientation: portrait) {
  .md-picker {
    display: block;
    @import "dependencies/media-portrait";
  }
}
@media screen and (max-width: 415px) {
  .md-picker {
    display: block;
    @import "dependencies/media-portrait";
  }
}
// force device orientation portrait
.md-picker--portrait {
  display: block;
  @import "dependencies/media-portrait";
}
// disable classes
.md-picker--inactive {
  display: none;
}
//animations
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  to {
    opacity: 0;
  }
}
.zoomOut {
  animation-name: zoomOut;
}
.animated {
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  animation-fill-mode: both;
}
