@import 'dependencies/variables';

body {
  background-color: $palette-grey-50;
}
main {
  overflow: visible !important;
}
// remove whitespace from pre
pre {
  margin: 0;
  padding: 0;
}
.mdl-layout__header {
  background-repeat: no-repeat;
  background-position: 25px 18px;
  background-image: url('../images/logo.svg');
}
.material-icons {
  vertical-align: middle;
  margin: -2px 4px 0;
}
.social {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../images/sprite.svg');
  &:hover {
    background-image: url('../images/sprite-color.svg');
  }
  &.social-facebook {
    width: 20px;
    height: 20px;
    background-position: 0 0;
  }
  &.social-google-plus {
    width: 20px;
    height: 20px;
    background-position: -36px 0;
  }
  &.social-github {
    width: 20px;
    height: 20px;
    background-position: -72px 0;
  }
  &.social-twitter {
    width: 20px;
    height: 20px;
    background-position: -108px 0;
  }
}
.mdl-logo img {
  height: 20px;
  width: 20px;
}
.mdl-mega-footer__link-list a:hover {
  color: #fff;
}
.mddtpp-a {
  color: $palette-primary-A200;
}
.mddtpp-p {
  padding: 20px 40px;
  margin: 0;
}
.mddtpp-a__patch {
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
  height: 16px;
  width: 64px;
}
.mddtpp-table {
  margin-left: 31px;
}
.mddtpp-section {
  &--grow {
    flex-grow: 1;
  }
  &--white {
    background-color: #fff;
  }
  &__subtitle {
    margin-top: 0;
  }
  &__note {
    margin: 0 auto;
    background-color: #FFF9C4;
    padding: 16px;
    margin: 0 31px 16px 31px;
    border-radius: 2px;
    color: #212121;
  }
}
.mddtpp-section__title,
.mddtpp-section__subtitle {
  padding-left: 31px;
}
.mddtpp-div__swatch {
  height: 16px;
}
.mddtpp-nav__toc {
  margin: 32px;
}
.mddtpp-nav__toc ul {
  list-style-type: none;
  border-left: solid 3px $palette-primary-A200;
  padding-left: 20px;
  line-height: 28px;
}
.mddtpp-nav__toc a {
  font-size: 16px;
  color: $palette-primary-A200;
  font-weight: 400;
  text-decoration: none;
}
.mddtpp-dl__about {
  padding: 5%;
  dt {
    font-weight: 700;
  }
  figcaption {
    padding: 8px;
  }
}
.mddtpp-dl__about,
.mddtpp-section__images {
  justify-content: center;
  align-items: center;
}
.mddtpp-cell__logo {
  vertical-align: middle;
  text-align: center;
  padding: 8px;
}
.mddtpp-cell__logo img {
  width: 64px;
}

@import 'dependencies/code';
